/.DS_Store
/CSS
/IMAGES
/Mock
/Nodejs
/React
/html
/interviewprep
/js
/jsprojects
/maha.txt
/mongodblearning
/node_modules
/package-lock.json
/package.json
/programming
/project
/reduxapp
/reduxtk
/vrpp
/yt